<template>
  <div>
    <b-row align-h="center" class="mt-5">
      <b-col cols="12" md="10" lg="8" xl="5">
        <VueMultiselect
          v-model="filter"
          track-by="name"
          label="name"
          :options="filterOptions"
          :multiple="true"
          @update:model-value="loadCards"
          :placeholder="t('multiselect.placeholder')"
          :tag-placeholder="t('multiselect.tagPlaceholder')"
          :select-label="t('multiselect.selectLabel')"
          :select-group-label="t('multiselect.selectGroupLabel')"
          :selected-label="t('multiselect.selectedLabel')"
          :deselect-label="t('multiselect.deselectLabel')"
          :deselect-group-label="t('multiselect.deselectGroupLabel')"
        />
      </b-col>
    </b-row>
    <b-row align-h="center" class="mt-5">
      <b-col
        cols="12"
        md="10"
        lg="8"
        xl="5"
        v-for="(card, index) in cardsData"
        :key="card.id"
        @click="flip(index)"
      >
        <TrainingCard ref="cards" :card-data="card" :show-back="true" />
      </b-col>
    </b-row>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, nextTick } from "vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

import axios from "axios";
import TrainingCard from "./TrainingCard.vue";
import VueMultiselect from "vue-multiselect";

const RETRY_WAIT_SEC = 30;

// data
var cardsToLoad = [];
var loading = false;

// reactive
const cards = ref([]);
const cardsData = ref([]);
const filter = ref([]);
const filterOptions = ref([]);

// methods
function flip(index) {
  // flip the card
  cards.value[index].flip();
}
function loadCards() {
  // clear cards
  cardsData.value = [];
  // Create the card filter
  var cardfilter = "";
  if (filter.value.length > 0) {
    cardfilter = "category=" + filter.value.map((v) => v.name).join(",");
  }
  // Load cards
  return axios.get("/api/cards?" + cardfilter).then((response) => {
    cardsToLoad = response.data;
    // load the card data
    loadNextCardData();
  });
}

function loadNextCardData() {
  // Must check whether cards are loading to ensure only one thread
  // run at a time to load a card.
  // prevent race condition between the first loading thread and the
  // thread started by displayNextCard
  if (!loading) {
    loading = true;
    return _loadNextCardDataJob();
  }
  return new Promise(() => {});
}

function _loadNextCardDataJob() {
  // Load the data of the next card
  if (cardsToLoad.length > 0) {
    // load the card with the api
    return axios
      .get("/api/cards/" + cardsToLoad[0])
      .then((response) => {
        // Got a response. Save it to the cards to come and load next card
        cardsData.value.push(response.data);
        cardsToLoad.shift();
        nextTick(_loadNextCardDataJob);
      })
      .catch((err) => {
        if (err.response) {
          // The request was made and the server responded with a status code
          // that falls out of the range of 2xx
          console.log("Received server error", err.response);
        } else {
          // potential network error. Retry loading later
          setTimeout(_loadNextCardDataJob, 1000 * RETRY_WAIT_SEC);
        }
      });
  } else {
    loading = false;
  }
  return new Promise(() => {});
}

function loadCategories() {
  // Load categories of cards
  axios.get("/api/categories").then((response) => {
    filterOptions.value = response.data.map(function (v) {
      return { name: v };
    });
  });
}

onMounted(() => {
  // Get the list of card to be trained
  loadCategories();
  loadCards();
});
</script>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style scoped>
/* Make the card text bigger and centered */
.flip-container .body {
  text-align: center;
  font-size: 1.5rem;
}
.flip-container {
  cursor: pointer;
}
/* style for the thumbs to choose */
.choose {
  text-align: center;
  font-size: 5rem;
}
.choose > svg {
  cursor: pointer;
}
</style>
