<template>
  <div class="container">
    <h3>{{ t("manage.title.list_card") }}</h3>

    <b-row class="mb-3" align-h="between">
      <b-col cols="12" sm="auto">
        {{ t("manage.list.show_entries.pre") }}
        <b-form-select
          v-model="perPage"
          :options="perPageOptions"
          size="sm"
          class="mt-3 inline"
        ></b-form-select>
        {{ t("manage.list.show_entries.post") }}
      </b-col>
      <b-col cols="12" sm="auto">
        <b-row>
          <b-col cols="4"
            ><label for="search-input">{{
              t("manage.list.search")
            }}</label></b-col
          >
          <b-col cols="8">
            <b-form-input
              id="search-input"
              v-model="filter"
              size="sm"
            ></b-form-input>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-table
      id="card-table"
      striped
      hover
      responsive
      sticky-header
      primary-key="id"
      :busy="isLoading"
      :items="props.cards"
      :fields="fields"
      sort-by="category"
      sort-icon-left
      :filter="filter"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>{{ t("manage.list.loading") }}</strong>
        </div>
      </template>

      <template v-slot:cell(actions)="data">
        <b-button variant="primary" size="sm" @click="editCard(data.item)">
          {{ t("manage.form.btn.edit") }}
        </b-button>
        <b-button variant="danger" size="sm" @click="deleteCard(data.item)">
          {{ t("manage.form.btn.delete") }}
        </b-button>
      </template>
    </b-table>

    <b-row class="mt-3" align-h="between">
      <b-col cols="12" sm="auto">
        {{
          t(
            "manage.list.showing_entries",
            { min: pageMin, max: pageMax, count: rows },
            rows
          )
        }}
      </b-col>
      <b-col cols="12" sm="auto">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="card-table"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>

  <ConfirmMsgbox
    ref="deleteConfirmModal"
    :title="t('manage.delete_modal.title')"
    ok-variant="danger"
    :ok-title="t('common.yes').toUpperCase()"
    :cancel-title="t('common.no').toUpperCase()"
    hide-header-close="false"
  >
    {{ t("manage.delete_modal.content") }}
  </ConfirmMsgbox>
</template>

<script setup lang="ts">
import { ref, computed, defineProps, defineEmits, withDefaults } from "vue";
import { CardI } from "../interfaces.ts";
import ConfirmMsgbox from "./ConfirmMsgbox.vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

// define props & emits
const props = withDefaults(
  defineProps<{
    cards: Array<CardI>;
    isLoading?: boolean;
  }>(),
  {
    isLoading: false,
  }
);
const emit = defineEmits(["edit:card", "delete:card"]);

// Reactive data
// pagination control
const perPage = ref(50);
const perPageOptions = ref([25, 50, 100, 250, 1000]);
const currentPage = ref(1);
// filtering
const filter = ref<string | null>();
// Defines the fields for the table
const fields = ref([
  {
    key: "category",
    label: t("manage.list.column.category"),
    sortable: true,
  },
  {
    key: "side1",
    label: t("manage.list.column.front"),
    sortable: true,
  },
  {
    key: "side2",
    label: t("manage.list.column.back"),
    sortable: true,
  },
  {
    key: "actions",
    label: t("manage.list.column.actions"),
  },
]);

const deleteConfirmModal = ref(false);

// Computed attributes
const rows = computed(() => props.cards.length);
const pageMin = computed(() => perPage.value * (currentPage.value - 1) + 1);
const pageMax = computed(() => {
  let max = perPage.value * currentPage.value;
  return max > rows.value ? rows.value : max;
});

function editCard(card) {
  emit("edit:card", card);
}
function deleteCard(card) {
  deleteConfirmModal.value.show().then((validated) => {
    if (validated) {
      emit("delete:card", card);
    }
  });
}
</script>

<style>
select.inline {
  display: inline-block;
  width: fit-content;
}
</style>
