<template>
  <div>
    <h3 v-if="card === undefined">{{ t("manage.title.create_card") }}</h3>
    <h3 v-else>{{ t("manage.title.edit_card") }}</h3>

    <b-form @submit.prevent="onSubmit" @reset.prevent="onReset" v-if="show">
      <b-form-group
        :label="t('manage.form.category.label')"
        label-for="input-category"
      >
        <b-form-input
          id="input-category"
          v-model="form.category"
          :placeholder="t('manage.form.category.placeholder')"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        :label="t('manage.form.front.label')"
        label-for="input-side-1"
      >
        <b-form-input
          id="input-side-1"
          v-model="form.side1"
          :placeholder="t('manage.form.front.placeholder')"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        :label="t('manage.form.back.label')"
        label-for="input-side-2"
      >
        <b-form-input
          id="input-side-2"
          v-model="form.side2"
          :placeholder="t('manage.form.back.placeholder')"
          required
        ></b-form-input>
      </b-form-group>

      <div class="mt-3" v-if="card === undefined">
        <b-button type="submit" variant="primary">{{
          t("manage.form.btn.create")
        }}</b-button>
        <b-button type="reset" variant="danger">{{
          t("manage.form.btn.reset")
        }}</b-button>
      </div>
      <div class="mt-3" v-else>
        <b-button type="submit" variant="primary">{{
          t("manage.form.btn.modify")
        }}</b-button>
        <b-button type="reset" variant="danger">{{
          t("manage.form.btn.cancel")
        }}</b-button>
      </div>
    </b-form>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, defineProps, defineEmits, nextTick } from "vue";
import { CardI } from "../interfaces.ts";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

// define props & emits
const props = defineProps<{
  card?: Array<CardI>;
}>();
const emit = defineEmits(["update:card", "create:card", "cancel:card"]);

// Reactive component
const show = ref(true);
const form = ref({
  category: "",
  side1: "",
  side2: "",
});

// Add watcher on the card prop to update form
watch(
  () => props.card,
  (val) => {
    // update the form field when card is updated
    if (val !== undefined) {
      form.value.category = val.category;
      form.value.side1 = val.side1;
      form.value.side2 = val.side2;
    } else {
      resetForm();
    }
  }
);

function resetForm(with_category?: boolean) {
  with_category = with_category === undefined ? true : with_category;
  // Reset our form values
  if (with_category) {
    form.value.category = "";
  }
  form.value.side1 = "";
  form.value.side2 = "";

  // Trick to reset/clear native browser form validation state
  show.value = false;
  nextTick(() => {
    show.value = true;
  });
}
function onSubmit() {
  if (props.card !== undefined) {
    emit("update:card", props.card, form.value);
  } else {
    emit("create:card", form.value);
    resetForm(false);
  }
}
function onReset() {
  if (props.card !== undefined) {
    emit("cancel:card");
  } else {
    resetForm(true);
  }
}
</script>
