<template>
  <b-modal
    v-model="showModal"
    size="sm"
    button-size="sm"
    ok-title="Yes"
    cancel-title="No"
    footer-class="p-2"
    centered="true"
    v-bind="attrs"
    v-on="events"
  >
    <slot />
  </b-modal>
</template>

<script setup lang="ts">
import { ref, defineExpose, useAttrs } from "vue";

const attrs = useAttrs();

// Provides a promise-way to call a confirm modal
// accept the same attributes as b-modal
/* example:
 *
 * <template>
 *   <ConfirmMsgBox ref="modal">
 *    Do you confirm?
 *   </ConfirmMsgBox>
 * </template>
 * <script setup lang="ts">
 * import { ref } from 'vue'
 * const modal = ref()
 * modal
 *   .show()
 *   .then((validated) => {
 *     if (validated) {
 *       // do things
 *     }
 *   });
 */

const events = ref({});
const showModal = ref(true);
var validatePromise: Promise;

function show() {
  validatePromise = new Promise((resolve) => {
    // register new event listener
    events.value = {
      ok: () => {
        resolve(true);
        events.value = {};
      },
      hide: () => {
        resolve(false);
        events.value = {};
      },
    };
  });
  showModal.value = true;
  return validatePromise;
}

defineExpose({
  show,
});
</script>
