<!-- based on https://github.com/karakanb/vue-info-card -->
<template>
  <div class="info-card p-8">
    <div class="title grey-background oval-corners p-l-4">{{ title }}</div>
    <div class="body p-4">
      <p>{{ data }}</p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, toRefs } from "vue";

// define props
const props = defineProps({
  title: {
    type: String,
    default: "Default Card Title",
  },
  data: {
    validator(value) {
      return (
        value.constructor === Array ||
        typeof value === "string" ||
        value instanceof String
      );
    },
  },
});
const { title, data } = toRefs(props);
</script>

<style type="text/css" scoped>
.info-card {
  background-color: #fff;
  font-weight: 100;
  min-height: 128px;
}

.info-card .title {
  position: relative;
  font-weight: bold;
}

.oval-corners {
  border-radius: 5px;
}

.grey-background {
  background-color: #a7a7a7;
}

.p-8 {
  padding: 8px;
}

.p-4 {
  padding: 4px;
}

.p-l-4 {
  padding-left: 4px;
}
</style>
