<!-- based on https://github.com/karakanb/vue-info-card -->
<template>
  <div :class="'flip-container ' + (props.flipped ? 'hover' : '')">
    <div class="flipper info-card oval-corners with-shadow">
      <div class="front">
        <FlippingCardContent
          :title="props.frontTitle"
          :data="props.frontData"
        ></FlippingCardContent>
      </div>
      <div class="back">
        <FlippingCardContent
          :title="props.backTitle"
          :data="props.backData"
        ></FlippingCardContent>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
import FlippingCardContent from "./FlippingCardContent.vue";

// define props
const props = defineProps<{
  frontTitle: string;
  frontData: string | Array<number>;
  backTitle: string;
  backData: string | Array<number>;
  flipped: boolean;
}>();
</script>

<style>
flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.flip-container {
  min-height: 120px;
  margin: 10px;
}
.flipper {
  -moz-transform: perspective(1000px);

  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;

  display: grid;
}
.front,
.back {
  width: 100%;
  grid-column: 1;
  grid-row: 1;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.back {
  -webkit-transform: rotateY(-180deg) translateZ(1px);
  -moz-transform: rotateY(-180deg) translateZ(1px);
  -o-transform: rotateY(-180deg) translateZ(1px);
  -ms-transform: rotateY(-180deg) translateZ(1px);
  transform: rotateY(-180deg) translateZ(1px);
}
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front {
  -webkit-transform: rotateY(0deg) translateZ(1px);
  -moz-transform: rotateY(0deg) translateZ(1px);
  -o-transform: rotateY(0deg) translateZ(1px);
  -ms-transform: rotateY(0deg) translateZ(1px);
  transform: rotateY(0deg) translateZ(1px);
}

.info-card {
  background-color: #fff;
  font-weight: 100;
  min-height: 128px;
}

.oval-corners {
  border-radius: 5px;
}

.with-shadow {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(132, 132, 132, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(132, 132, 132, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(132, 132, 132, 0.2);
}
</style>
