<template>
  <b-nav-item-dropdown>
    <template #button-content>
      <span :class="['fi', 'fi-' + getFlag(locale)]"></span>
      {{ t(`locale.${locale}`) }}
    </template>
    <template #default>
      <b-dropdown-item
        v-for="loc in availableLocales"
        :key="loc"
        :active="locale === loc"
        @click="changeLocale(loc)"
      >
        <span :class="['fi', 'fi-' + getFlag(loc)]"></span>
        {{ t(`locale.${loc}`) }}
      </b-dropdown-item>
    </template>
  </b-nav-item-dropdown>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";
const { t, locale, availableLocales } = useI18n();

// additional mapping between locale & flag
const flag_map = {
  en: "gb",
};
function getFlag(loc) {
  return flag_map[loc] || loc;
}

function changeLocale(loc) {
  locale.value = loc;
}
</script>

<style src="flag-icons/css/flag-icons.min.css"></style>
