<template>
  <div>
    <b-row align-h="center" class="mt-5">
      <CardForm
        :card="cardToEdit"
        @create:card="createCard"
        @update:card="updateCard"
        @cancel:card="cancelCard"
      />
    </b-row>
    <b-row align-h="center" class="mt-5">
      <CardList
        :is-loading="isLoading"
        :cards="cards"
        @delete:card="deleteCard"
        @edit:card="editCard"
      />
    </b-row>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { CardI } from "../interfaces.ts";

import axios from "axios";
import CardList from "./CardList.vue";
import CardForm from "./CardForm.vue";

// reactive data
const cards = ref<Array<CardI>>([]);
const isLoading = ref(true);
const cardToEdit = ref<CardI | undefined>(undefined);

// methods
function loadCards() {
  // Load available cards
  axios.get("/api/cards?details").then((response) => {
    cards.value = response.data;
    isLoading.value = false;
  });
}

function editCard(card: CardI) {
  cardToEdit.value = card;
}

function cancelCard() {
  cardToEdit.value = undefined;
}

function createCard(form) {
  // create remotely and add to the liste
  axios.post(`/api/cards`, form).then((response) => {
    cards.value = [...cards.value, response.data];
  });
}

function updateCard(card: CardI, form) {
  // update remotely and update the card in the list
  axios.patch(`/api/cards/${card.id}`, form).then((response) => {
    cards.value = cards.value.map((c) =>
      c.id === card.id ? response.data : c
    );
    cardToEdit.value = undefined;
  });
}

function deleteCard(card: CardI) {
  // delete remotely and filter in the list
  axios.delete(`/api/cards/${card.id}`).then(() => {
    cards.value = cards.value.filter((c) => c.id !== card.id);
    // reset cardToEdit if it is deleted
    if (cardToEdit.value !== undefined && cardToEdit.value.id == card.id) {
      cardToEdit.value = undefined;
    }
  });
}

onMounted(() => {
  // Get the list of card
  loadCards();
});
</script>
