<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="secondary">
      <b-navbar-brand href="#">Holy Cards</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="me-auto">
          <b-nav-item
            :active="props.currentNav == 'train'"
            @click="navigate('train')"
            >{{ t("navbar.train") }}</b-nav-item
          >
          <b-nav-item
            :active="props.currentNav == 'allcards'"
            @click="navigate('allcards')"
            >{{ t("navbar.allcards") }}</b-nav-item
          >
          <b-nav-item
            :active="props.currentNav == 'manage'"
            @click="navigate('manage')"
            >{{ t("navbar.manage") }}</b-nav-item
          >
        </b-navbar-nav>
        <b-navbar-nav>
          <LocaleSelect />
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import LocaleSelect from "./LocaleSelect.vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

const props = defineProps<{
  currentNav: string;
}>();

const emit = defineEmits(["navigate"]);

function navigate(to) {
  emit("navigate", to);
}
</script>
