<template>
  <div>
    <p class="mb-0 small">{{ cardDone }} / {{ props.totalCard }}</p>
    <b-progress :max="props.totalCard" show-value>
      <b-progress-bar
        :value="props.successCard"
        variant="success"
      ></b-progress-bar>
      <b-progress-bar
        :value="props.failureCard"
        variant="danger"
      ></b-progress-bar>
    </b-progress>
  </div>
</template>

<script setup lang="ts">
import { computed, defineProps } from "vue";

const props = defineProps<{
  totalCard: number;
  successCard: number;
  failureCard: number;
}>();

const cardDone = computed(() => props.successCard + props.failureCard);
</script>
