<template>
  <div>
    <b-row align-h="center" class="mt-5">
      <b-col cols="12" md="10" lg="8" xl="5">
        <VueMultiselect
          v-model="categoryFilter"
          track-by="name"
          label="name"
          :options="categories"
          :multiple="true"
          @update:model-value="loadCards"
          :placeholder="t('multiselect.placeholder')"
          :tag-placeholder="t('multiselect.tagPlaceholder')"
          :select-label="t('multiselect.selectLabel')"
          :select-group-label="t('multiselect.selectGroupLabel')"
          :selected-label="t('multiselect.selectedLabel')"
          :deselect-label="t('multiselect.deselectLabel')"
          :deselect-group-label="t('multiselect.deselectGroupLabel')"
        />
      </b-col>
    </b-row>
    <b-row align-h="center" class="mt-3">
      <TrainingCardProgress
        :totalCard="remainingCardCount + todaySuccess + todayFailure"
        :successCard="todaySuccess"
        :failureCard="todayFailure"
      />
    </b-row>
    <b-row
      v-if="loaded && remainingCardCount > 0"
      align-h="center"
      class="mt-5"
    >
      <b-col cols="1" class="choose d-none d-lg-block mx-3">
        <font-awesome-icon
          icon="fa-solid fa-thumbs-down"
          :class="{ 'text-danger': true, 'd-none': isHidden }"
          @click="validate(false)"
          :title="t('train.bad_answer')"
        />
      </b-col>
      <b-col cols="12" md="10" lg="8" xl="5" @click="flipAndShowBtn">
        <TrainingCard
          v-if="cardData !== undefined"
          ref="trainingCard"
          :card-data="cardData"
          :show-back="!isHidden"
        />
        <div v-if="cardData === undefined && loading" class="text-center">
          {{ t("train.loading") }}<br />
          <font-awesome-icon icon="fa-solid fa-arrows-rotate" spin />
        </div>
      </b-col>
      <b-col cols="1" class="choose d-none d-lg-block mx-3">
        <font-awesome-icon
          icon="fa-solid fa-thumbs-up"
          :class="{ 'text-success': true, 'd-none': isHidden }"
          @click="validate(true)"
          :title="t('train.good_answer')"
        />
      </b-col>
    </b-row>

    <b-row
      v-if="loaded && remainingCardCount > 0"
      align-h="center"
      class="mt-5"
    >
      <b-col cols="6" class="choose d-lg-none">
        <font-awesome-icon
          icon="fa-solid fa-thumbs-down"
          :class="{ 'text-danger': true, 'd-none': isHidden }"
          @click="validate(false)"
          :title="t('train.bad_answer')"
        />
      </b-col>
      <b-col cols="6" class="choose d-lg-none">
        <font-awesome-icon
          icon="fa-solid fa-thumbs-up"
          :class="{ 'text-success': true, 'd-none': isHidden }"
          @click="validate(true)"
          :title="t('train.good_answer')"
        />
      </b-col>
    </b-row>

    <b-row
      v-if="loaded & (remainingCardCount === 0)"
      align-h="center"
      class="mt-5"
    >
      <b-alert show variant="info">
        <h4 class="alert-heading">{{ t("train.no_more_card.title") }}</h4>
        <p>{{ t("train.no_more_card.content") }}</p>
      </b-alert>
    </b-row>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted, nextTick } from "vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

import { CardI } from "../interfaces.ts";
import axios from "axios";
import TrainingCard from "./TrainingCard.vue";
import TrainingCardProgress from "./TrainingCardProgress.vue";
import VueMultiselect from "vue-multiselect";

const PRELOADED_CARDS = 50;
const RETRY_WAIT_SEC = 30;

// Reactive data
const loading = ref(false); // to keep track of whether cards are currently loading
const sending = ref(false); // to keep track of whether results are being sent
const cardsToTrain = ref<Array<number> | undefined>(undefined);
const cardData = ref<CardI>(undefined);
const isHidden = ref(true);
const todaySuccess = ref(0);
const todayFailure = ref(0);
const categories = ref<Array<{ name: string }>>([]);
const categoryFilter = ref<Array<{ name: string }>>([]);
const nextCards = ref<Array<CardI>>([]);
const toBeSent = ref<
  Array<{
    success: boolean;
    card: CardI;
  }>
>([]);

// Computed attributes
const remainingCardCount = computed(
  () => (loaded.value ? cardsToTrain.value.length : 0) + nextCards.value.length
);
const loaded = computed(() => {
  // indicate whether cards to train were loaded
  return cardsToTrain.value !== undefined;
});

const trainingCard = ref();
// methods
function flipAndShowBtn() {
  // flip the card
  trainingCard.value.flip();
  // ensure thumbs button are shown
  isHidden.value = false;
}

function loadCards() {
  // clear card data
  // TODO: improve perf by keeping card data already loaded
  cardsToTrain.value = undefined;
  nextCards.value = [];
  cardData.value = undefined;

  // Create the card filter
  var cardfilter = "";
  if (categoryFilter.value.length > 0) {
    cardfilter =
      "&category=" + categoryFilter.value.map((v) => v.name).join(",");
  }
  // Load cards to be trained
  return axios.get("/api/cards?train" + cardfilter).then((response) => {
    cardsToTrain.value = response.data;
    // load the card data
    loadNextCardData();
  });
}

function loadNextCardData() {
  // Must check whether cards are loading to ensure only one thread
  // run at a time to load a card.
  // prevent race condition between the first loading thread and the
  // thread started by displayNextCard
  if (!loading.value) {
    loading.value = true;
    return _loadNextCardDataJob();
  }
  return new Promise(() => {});
}

function _loadNextCardDataJob() {
  // Load the data of the next card
  if (
    loaded.value &&
    cardsToTrain.value.length > 0 &&
    nextCards.value.length < PRELOADED_CARDS
  ) {
    // indicate cards are loading
    return axios
      .get("/api/cards/" + cardsToTrain.value[0])
      .then((response) => {
        // Got a response. Save it to the cards to come and load next card
        nextCards.value.push(response.data);
        cardsToTrain.value.shift();
        nextTick(_loadNextCardDataJob);
        // ensure a card is displayed
        displayCard();
      })
      .catch((err) => {
        if (err.response) {
          // The request was made and the server responded with a status code
          // that falls out of the range of 2xx
          console.log("Received server error", err.response);
        } else {
          // potential network error. Retry loading later
          setTimeout(_loadNextCardDataJob, 1000 * RETRY_WAIT_SEC);
        }
      });
  } else {
    loading.value = false;
  }
  return new Promise(() => {});
}

function loadCardsMetadata() {
  // Load categories of cards
  axios.get("/api/categories").then((response) => {
    categories.value = response.data.map(function (v) {
      return { name: v };
    });
  });
  // Load stats of today
  var d = new Date();
  return axios
    .get(`/api/stats?date=${d.toISOString().split("T")[0]}`)
    .then((response) => {
      todaySuccess.value = todayFailure.value = 0;
      response.data.forEach(function (v) {
        if (v.answer) {
          todaySuccess.value += 1;
        } else {
          todayFailure.value += 1;
        }
      });
    });
}

function displayNextCard() {
  // Go to next card
  isHidden.value = true;
  nextCards.value.shift();
  displayCard();
  loadNextCardData();
}

function displayCard() {
  // If there are other cards, change them, else try to load new cards
  if (nextCards.value.length > 0) {
    cardData.value = nextCards.value[0];
  } else if (loaded.value && cardsToTrain.value.length > 0) {
    // if no new card is available, but cards remain to be loaded
    // unset current card data & try to load next cards
    cardData.value = undefined;
    loadNextCardData();
  } else {
    // No card to be trained on left
    cardData.value = undefined;
    loadCards(); // try to check whether new cards are available
  }
}

function validate(success) {
  // add the result to the list of data to be sent
  toBeSent.value.push({ success: success, card: cardData.value });
  nextTick(sendCardResult);

  // load next card
  displayNextCard();
  // increase the success counters without reloading them
  if (success) {
    todaySuccess.value += 1;
  } else {
    todayFailure.value += 1;
  }
}

function sendCardResult() {
  // Must check whether results are being sent to ensure only one thread
  // run at a time (prevent race condition)
  if (!sending.value) {
    sending.value = true;
    return _sendCardResultJob();
  }
  return new Promise(() => {});
}

function _sendCardResultJob() {
  if (toBeSent.value.length > 0) {
    var data = toBeSent.value[0];
    // validate or unvalidate the card and move to the next one
    return axios
      .post(
        "/api/cards/" +
          data.card.id +
          "/" +
          (data.success ? "valid" : "invalid")
      )
      .then(() => {
        // next message
        toBeSent.value.shift();
        // try to send the next data
        nextTick(_sendCardResultJob);
      })
      .catch((err) => {
        if (err.response) {
          // The request was made and the server responded with a status code
          // that falls out of the range of 2xx
          console.log("Received server error", err.response);
        } else {
          // potential network error. Retry loading later
          setTimeout(_sendCardResultJob, 1000 * RETRY_WAIT_SEC);
        }
      });
  }
  sending.value = false;
  return new Promise(() => {});
}

onMounted(() => {
  // Get the list of card to be trained
  loadCardsMetadata();
  loadCards();
});
</script>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
/* Make the card text bigger and centered */
.flip-container .body {
  text-align: center;
  font-size: 1.5rem;
}
.flip-container {
  cursor: pointer;
}
/* style for the thumbs to choose */
.choose {
  text-align: center;
  font-size: 5rem;
}
.choose > svg {
  cursor: pointer;
}
</style>
