<template>
  <div>
    <FlippingCard
      :frontTitle="props.cardData.category"
      :frontData="cardFront"
      :backTitle="props.cardData.category"
      :backData="cardBack"
      :flipped="flipped"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, watch, computed, defineProps, defineExpose } from "vue";
import { CardI } from "../interfaces.ts";
import FlippingCard from "./FlippingCard.vue";

const props = defineProps<{
  cardData: CardI;
  showBack: boolean;
}>();

const flipped = ref(false);

watch(
  () => props.cardData,
  () => {
    // reset the card and display the new data
    flipped.value = false;
  }
);

// use computed property for front & back side
// the back side is left empty until showBack is true to prevent response
// from leaking during flip back
const cardFront = computed(
  () => props.cardData["side" + (props.cardData["next_side"] + 1)]
);
const cardBack = computed(() => {
  if (props.showBack) {
    return props.cardData["side" + ((props.cardData["next_side"] ^ 1) + 1)];
  } else {
    return "";
  }
});

function flip() {
  flipped.value = !flipped.value;
}

// expose flip to outside components
defineExpose({
  flip,
});
</script>
