<template>
  <nav-bar :current-nav="currentNav" @navigate="swapContainer" />
  <b-container>
    <component :is="currentContainer"></component>
  </b-container>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import NavBar from "./components/NavBar.vue";
import TrainContainer from "./components/TrainContainer.vue";
import AllCardsContainer from "./components/AllCardsContainer.vue";
import ManageContainer from "./components/ManageContainer.vue";

// reactive
const currentNav = ref("train");
const currentContainer = computed(() => containers[currentNav.value]);

// functions
function swapContainer(component) {
  currentNav.value = component;
}
const containers = {
  train: TrainContainer,
  allcards: AllCardsContainer,
  manage: ManageContainer,
};
</script>
